body{
   background-color: blueviolet;
   
}
.division1{
    background-color: skyblue;
    width: 40%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 20px;   
}
h1{ padding-top: 5px;
    padding-left:50px;
}
h3{
    padding-left:50px; 
}
.oneul span{
    color: fuchsia;
    font-size: 50px;
}

ul{
    list-style-image: url(image.png);
    list-style-position:outside;
    font-size:0.5px;
    /* list-style-type:square; */
}