 *{
    padding: 0px;
    margin: 0px;
} 
body{
    background-image: url("https://papers.co/wallpaper/papers.co-nm68-lawn-green-nature-sunset-light-bokeh-spring-flare-happy-35-3840x2160-4k-wallpaper.jpg");
    background-repeat:no-repeat;
    background-size:cover; 
    width: 100%;
    height:100vh;
}
.division3{
    background-color:white;
    opacity: 5;
}
.container1{
    width: 20%;
    height:450px;
    border:2px solid ghostwhite;
    border: none; 
    border-radius: 10px;
    box-shadow:0 0 30px 5px black;
    position:absolute;
    top:150px;
    left:300px;
    padding-top: 30px;
}
.division{
    padding-top: 20px;
    padding-left:50px;
    line-height:60px;
}
.one{
    display: inline;
    color: white;
    padding-left: 30px;
    font-size:20px;
    text-transform: uppercase;
}
.two{
    text-decoration: underline;
    text-underline-offset:10px;
    text-decoration-color: red;
}
.class1{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    width: 80%;
    height: 20px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.class1:hover{
    border-bottom: 3px solid gold;  
}
#checkbox{
    width:10px;
    height:10px;
    font-size: larger;
}
button{
    text-align: center;
    background-color:hotpink;
    width:150px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 15px;
    border:none;
    margin-left:20px;
    color: white;

}
::placeholder{
    color: white;
}
.form1{
    color:white;
    font-size:17px;
    text-transform:capitalize;
}
.container2{
    width: 20%;
    height:450px;
    border:2px solid ghostwhite;
    border: none;
    border-radius: 10px;
    box-shadow:0 0 30px 5px black;
    position:absolute;
    top:100px;
    left:800px;
    padding-top: 30px;
}
.class2{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    width: 80%;
    height:20px;
    color: white;
    font-size: 17px;
    font-weight: 600;
}
.class2:hover{
    border-bottom: 3px solid fuchsia;  
}
.division1{
    padding-top: 90px;
    padding-left:50px;
    line-height:60px;
}