
body{
    background-image: linear-gradient(to top right,green,yellow);
    background-repeat: no-repeat;
    background-size: cover;
    height:729px;

}
.division1{
    background-color:white;
    height:400px;
    width: 350px;
    margin-top:200px;
    margin-left:550px;
    float: left;
    border-radius: 20px;
    line-height:50px;
}
h1{
    text-align: center;
    text-transform: capitalize;
}
#name{
    border: none;
    border-bottom:2px solid rgba(0, 0, 0, 0.925);
    outline: none;
    color: turquoise;
    margin-left: 30px;
    line-height: 30px;
    width: 80%;
    padding-left: 10px;
    color: grey;
}
#password{
    border: none;
    border-bottom:2px solid rgba(0, 0, 0, 0.925);
    outline: none;
    color: turquoise;
    margin-left: 30px;
    line-height: 30px;
    width: 80%;
    padding-left: 10px; 
    margin-bottom: -10px;
    color: grey;
}
.para2{
    padding-left: 35px;
    color: grey;
}  
button{
  text-align: center;
  background-color: cornflowerblue;
  margin-left: 40px;
  height:50px;
  width: 250px;
  border-radius: 40px;
  border-color: white;
  font-size: 20px;
}
.para3{
    text-align: center;
    color: grey;

} 
span{
    color:hotpink;
    font-weight: 600;
}

